@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* --color-bkg: 12, 10, 9; */
    --color-bkg: 14, 16, 15;
    --color-content: 255, 252, 225;
    /* --color-content: 254, 205, 211; */

    --color-accent-pink: 236, 72, 153;
    --color-accent-yellow: 251, 191, 36;
    --color-accent-lavender: 157, 149, 255;
    --color-accent-orange: 249, 115, 22;

    --color-context-success: 16, 185, 129;
    --color-context-error: 239, 68, 68;
    --color-context-info: 0, 186, 226;
    --color-context-warning: 249, 115, 22;
  }
}

/*
*
* -- light theme -- 
* 
* bg - 255, 252, 225
* content: 14, 16, 15
* info: 0, 186, 226
*
*
* 
*  
* */
